@import 'node_modules/bulmaswatch/lux/_variables.scss';
@import 'bulma/bulma.sass';
@import 'node_modules/bulmaswatch/lux/_overrides.scss';

@import '~bulma-extensions';

.container {
  max-width: 768px;
}

body {
  zoom: 1.2;
}

img {
  border-radius: .3125em;
}

.is-loading {
  position: relative;
  pointer-events: none;
  opacity: 0.5;
  &:after {
      @include loader;
      position: absolute;
      top: calc(50% - 2.5em);
      left: calc(50% - 2.5em);
      width: 5em;
      height: 5em;
      border-width: 0.25em;
  }
}
